<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand medium-bule-bgc">
    <%= link_to root_path, class: "navbar-item" do%> <!-- logo連結連回首頁 -->
      <h1 class="title text-white mr-5">Bcard</h1>
    <% end %>
  
      <!-- 漢堡選單 -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu medium-bule-bgc">
      <div class="navbar-start">

        <div class="control">
            <input class="input mt-3 w-96" type="text" placeholder="搜尋 熱門文章">
        </div>
        <div class="control">
            <button class="button is-medium mt-3 border-1 border-blue-800 text-white medium-bule-bgc ">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info mt-1 text-white light-blue-bgc ">
              註冊
            </a>
            <a class="button is-info mt-1 text-white light-blue-bgc ">
              登入
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>