<!-- 熱門文章 -->
<div class="bgc-dark-blue min-h-screen">
    <section class="columns max-w-7xl mx-auto">

        <!-- 左側欄位 -->
        <%= render 'pages/shared/pages-left' %>

        <!-- 中間欄位-已發佈文章列表（按文章愛心數順序顯示） -->
        <section class="column is-7 bg-white my-4 rounded p-14">
            <h1 class="text-2xl font-semibold">熱門文章</h1>
            <%= render 'pages/shared/published-posts-list' %>
        </section>

        <!-- 右側欄位-廣告 -->
        <%= render 'pages/shared/pages-right' %>

    </section>
</div>