/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .

 *= require bulma/bulma.css
 *前面的vendor/assets/stylesheets都省略
 *= require fontawesome-free-6.5.2-web/css/all.min.css
 *= require tailwindcss/tailwind.css

 *= require_self

 */

/* 全站都會用到的css（用asset pipeline打包） */

.bgc-light-blue {
   background-color: #53ACD8;
}

.bgc-medium-blue {
   background-color: #006AA6;
}

.bgc-dark-blue {
   background-color: #00324E;
}

.div-all-center {
   display: flex;
   justify-content: center; /* 水平置中 */
   align-items: center; /* 垂直置中 */
}

.avatar {
   border-radius: 50%;
}

.description {
   margin-top: 15px;
   margin-bottom: 15px;
}



 

